{% extends "base.html" %}

{% block lab %}Лабораторная работа 4{% endblock %}

{% block main %}
    <h1>Формы (POST)</h1>
    <div>Тема лабораторной - Формы (POST). Список сделанных страниц:</div>
    <ol>
        <li><a href="/lab4/div-form">деление</a></li>
        <li><a href="/lab4/sum-form">сложение</a></li>
        <li><a href="/lab4/mult-form">умножение</a></li>
        <li><a href="/lab4/sub-form">вычитание</a></li>
        <li><a href="/lab4/pow-form">возведение в степень</a></li>
        <li><a href="/lab4/tree">счетчик деревьев</a></li>
        <li><a href="/lab4/login">авторизация</a></li>
        <li><a href="/lab4/fridge-form">холодильник</a></li>
        <li><a href="/lab4/grain-form">заказ зерна</a></li>
    </ol>
{% endblock %}