{% extends "base.html" %}

{% block lab %}Лабораторная работа 3{% endblock %}

{% block main %}

    <form action="/lab3/success">
        <input type="hidden" name="price" value="{{ price }}">

        <div>Номер банковской карты:</div>
        <label>
            <input type="text" name="card" pattern="\d{16}" required placeholder="16 цифр">
        </label>

        <div>Имя держателя карты:</div>
        <label>
            <input type="text" name="name" required>
        </label>

        <div>Номер CVV:</div>
        <label>
            <input type="text" name="cvv" size="3" pattern="\d{3}" required placeholder="3 цифры">
        </label>

        <div>
            <button type="submit">Оплатить</button>
            <a href="/lab3/order">Отказаться</a>
        </div>
    </form>

{% endblock %}
