<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Пенькова Полина. {% block lab %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    <style>
        body{
            {% if request.cookies.get('color') %}
            color: {{ request.cookies.get('color') }};
            {% endif %}
        }
    </style>
</head>
<body>
    <header>
        WEB-программирование, часть 2. {{ self.lab() }}
    </header>

    <main>
        {% block main %}{% endblock %}
    </main>

    <nav>
        <a href="/index">Главное меню</a>
    </nav>

    <footer>
        &copy; Пенькова Полина, ФБИ-34, 3 курс, 2025
    </footer>
</body>
</html>