<!DOCTYPE html>
<html>
<head>
    <title>Лабораторная работа 2</title>

</head>
<body>
    <nav>
        <a href="/index">Главное меню</a>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </nav>
    
    <h1>Лабораторная работа 2</h1>
    
    <h2>Все ссылки лабораторной работы:</h2>
    
    <h3>Примеры и тесты:</h3>
    <ul>
        <li><a href="/lab2/a/">Со слэшем</a></li>
        <li><a href="/lab2/a">Без слэша</a></li>
        <li><a href="/lab2/example">Пример с фруктами</a></li>
        <li><a href="/lab2/filters">Фильтры</a></li>
    </ul>
    
    <h3>Цветы:</h3>
    <ul>
        <li><a href="/lab2/add_flower/">Добавить цветок (ошибка 400)</a></li>
        <li><a href="/lab2/add_flower/Роза">Добавить цветок "Роза"</a></li>
        <li><a href="/lab2/flowers/">Показать все цветы</a></li>
        <li><a href="/lab2/flowers/0">Цветок с ID 0</a></li>
        <li><a href="/lab2/clear_flowers/">Очистить список цветов</a></li>
    </ul>
    
    <h3>Калькулятор:</h3>
    <ul>
        <li><a href="/lab2/calc/5">Калькулятор (5/1)</a></li>
        <li><a href="/lab2/calc/10/3">Калькулятор (10/3)</a></li>
    </ul>
    
    <h3>Книги:</h3>
    <ul>
        <li><a href="/lab2/books/">Список книг</a></li>
    </ul>
    
    <h3>Собаки:</h3>
    <ul>
        <li><a href="/lab2/dogs/">Породы собак</a></li>
    </ul>
</body>
</html>